
@{
     ViewData["description"]="آموزش پیشرفته ترین فنون دفاع شخصی وقفل مفصل در شیراز";
    ViewData["Title"] = "هان مو دو در ایران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hanmudo_content">
     <div class="main_container">
        <div class="top_content">
            <span class="d-md-none menu_icon mt-2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </span>

        </div>
    </div>
    <button style="font-family: iraniansans;margin-right:.5rem ;" class="btn btn-dark "
        onclick="history.back()">بازگشت</button>
    <h1 >
       هان مو دو در ایران
    </h1>
    <img style="width: 14rem" src="/img/khanian.jpg" alt="">
    <p>ریاست سبک هان مو دو در ایران بر عهده جناب آقای رضا خانیان می باشد وی که ازبرجسته ترین اساتید پیشکسوت هنرهای رزمی به شمار می آید از سال 1375 نمایندگی سبک را از سازمان جهانی هان مو دو دریافت نموده است.</p>
</div>
