@{
     ViewData["description"]="آموزش پیشرفته ترین فنون دفاع شخصی وقفل مفصل در شیراز";
    ViewData["Title"] = "هان مو دو چیست";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hanmudo_content">
    <div class="main_container">
        <div class="top_content">
            <span class="d-md-none menu_icon mt-2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </span>

        </div>
    </div>
    <button style="font-family: iraniansans;margin-right:.5rem ;" class="btn btn-dark "
        onclick="history.back()">بازگشت</button>
         <h1 >
        هان مو دو چیست؟
    </h1>
    <p>هان مودو اصولی از هنرهای رزمی فراگیر و جامع است که شامل مطالعه تکنیکهای مبارزه با دست خالی ، تکنیکهای مبارزه با
        سلاح ، مطالعه نیروی کی و مطالعه فلسفه هنرهای رزمی می باشد. دکتر هی یانگ کیم در سال 1989 پس از چهل سال تحصیل و
        تحقیق دراصول هنرهای رزمی کره ای هان مو دو را بنیان نهاد وی طی یک سلسله تحقیق و تمرین درهنرهای رزمی تکنیک و فلسفه
        های تمامی سبک ها را که اغلب مربوط به سال 1950 میلادی بودند را جمع آوری نمود و همواره با تکنیکهای جدید و بدیع به
        صورت یک اصول متعادل و جامع درآورد. <br /><br />
        ( هان ) به معنای ملت خوش بین که در اینجا به کشور کره نسبت داده شده است ، ( مو ) به معنای هنر های رزمی ، ( دو )
        به معنای روش است. در مجموع هان مو دو به معنای روش هنر های رزمی کره ای ترجمه می شود . <br /><br />
        هدف اصلی هان مو دو برقراری توازن میان موارد ذکر شده است: <br /><br />
        1. تکنیکهای مبارزه با دست خالی <br />
        2. تکنیکهایی که به کمک قدرت فیزیکی و نیروی « کی » انجام می شود <br />
        3. آموزش جسمانی و فلسفی ، ذهنی و روحی <br />
        4. تکنیکهای مربوط به سمت راست و چپ بدن<br />
        5. فلسفه و تکنیکهای سنتی و مدرن <br /><br />
        هان مو دو از چهار اصل تشكيل شده است: <br /><br />
        1. یوکوان سول (Yuh Kwon Sul ) مبارزه با دست خالی<br /><br />
        یوكوان سول بر اساس سو سول (مشتها و ضربات) ، جوك سول (لگد زدن) ، تو سول (پرتاب) ، كيو سول (خفه كردن يا فشردن) ،
        جي آب سول (نقاط حساس) ، كوان جو سول (پيچش مفاصل) ، و باک سول (ضربه سر) مي‌باشد. <br /><br />
        2. موکی سول (Mu ki sul ) مطالعه تکنیکهای مبارزه با سلاح<br /><br />
        موكي سول بر روي جانگ كوم سول (شمشير بلند) ، دام كوم سول (چاقو) ، جانگ بونگ سول (چوب بلند) ، دان بونگ سول (چوب
        كوتاه) ، فوباك سول (كمربند) ، بوي چاي سول (بادبزن) و دانگ جانگ سول (عصا) تمركز دارد. <br /><br />
        3. سان دو سول (Sun do sul ) مطالعه نیروی کی<br /><br />
        سان دو سول بر اساس كي چاکجوک (ذخيره نيروي كي) ، كي ون هاينگ (توزيع نيروي كي) و كي سا يانگ (استفاده از نيروي كي
        در تكنيك‌ها) مي‌باشد. <br /><br />
        4. هان چول هاک ( Han Chul Hak ) مطالعه فلسفه هان<br /><br />
        هان چول هاک بر روي هان متمركز مي‌باشد. هان به معناي توازن بين بالا و پايين ، كل و جزء ، روشن و تيره ، نويسندگي و
        شمشيربازي است. <br /><br /><br />

        <b> (( هان مو دو تاکید بر تعادل و هماهنگی دارد تعادل بین فلسفه و فنون ، تعادل بین سلاح و فنون دست و پا ، تعادل
            بین مشت ها ، لگد ها و پرتاب ها بدین طریق تعادل در هنرهای رزمی ابقا می شود.)) </b>
    </p>
</div>