@{
     ViewData["description"]="آموزش پیشرفته ترین فنون دفاع شخصی وقفل مفصل در شیراز";
    ViewData["Title"] = "استاد بزرگ هی یانگ کیم";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hanmudo_content">
    <div class="main_container">
        <div class="top_content">
            <span class="d-md-none menu_icon mt-2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </span>

        </div>
    </div>
    <button style="font-family: iraniansans;margin-right:.5rem ;" class="btn btn-dark "
        onclick="history.back()">بازگشت</button><br>
    <h1 >
        استاد بزرگ هی یانگ کیم
    </h1>
    <img  src="/img/He-Young Kimm.jpg" alt="">
    <p >

        در آن هنگام كه مرد جوان در تپه‌هاي اطراف سوآن (واقع در كره‌ جنوبي) در حال گردش بود نمي‌دانست كه روزگار چه
        سرنوشتي را براي او رقم خواهد زد پس ازاينكه خانواده اين مرد جوان مورد حمله واقع شدند تصميم گرفت تا هنرهاي رزمي را
        فراگيرد. وي اولين شخصي بود كه هنرهاي رزمي كره‌اي را در امريكا معرفي نمود و همچنين به عنوان موسس روزنامه‌ نگار و
        استاد هنرهاي رزمي شناخته و معروف شد. دكتر هيانگ كيم در 17 ژانويه سال 1940 ميلادي ديده به جهان گشود و در سال 1953
        شروع به فراگيري هنرهاي رزمي "يودو" (Yudo) و "بي سول" (Bi Sool) نمود. <br /><br />
        همزمان با فارغ‌ التحصيل شدن از دبيرستان به عنوان كاپيتان موفق شد تيم يودو را در مسابقات ملي شركت دهد سپس بعنوان
        دانشجو در دانشكده افسري نيروي دريايي كره شروع به آموزش هنرهاي رزمي به سپاه هشتم آمريكا كه در پوسان واقع در كره
        اقامت داشتند نمود در همانجا از وي جهت پيشرفت تحصيلات خود و آموزش هنرهاي رزمي در دانشكده‌اي درغرب میانه (Mid
        west) دعوت بعمل آمد. به دنبال دعوت دكتر مارك اسكوالي رئيس دانشگاه ايالات ميسوُري و با اجازه دولت كره دكتر كيم در
        سال 1963 شروع به آموزش هاپكيدو ، جودو و تكواندو نمود. طي شش سال اقامت در آنجا علاوه بر پيشرفت خود ، در كلاسها
        نيز حضور مي‌يافت پس از كسب درجه استادي در رشته تاريخ آمريكا وي جهت ادامه تحصيل در دانشگاه ايالت لوئيزيانا به
        باتون رگ عزیمت نمود. <br /><br />
        دکتر کیم در سراسر دهه هفتاد زمان شناخت و گسترش هنرهاي رزمي نمايشات مهيجي را در تمام جنوب و همچنين براي تمام
        سبک‌های رزمی سمينارهاي زیادی برگزار نمود. نوشته‌هاي او در مورد هاپكيدو درمقاله تحت عنوان كاراته رسمي چاپ شد
        (Official Karate) كه وي در آنجا به عنوان مشاور فني فعاليت مي‌كرد. كاراته تشريحي (Karate Illustrated) ، درون كونگ
        فو ( Inside Kung fu) ، تكواندو سنتي Traditional Tae Kwon Do)) ، سينتا نگرا (Cinta Negra) نام تعدادي از مقالات او
        مي‌باشد. در سال 1975 وي اولين هاپكيدو كاري بود كه افتخار داد عكسش بر روي مجله بلك بلت (Black Belt) كه درحال
        انجام تكنيك لگد جفتي روي صورت حريف است چاپ شود. بعدها استاد بزرگ مينگ كوان شيك دكتر كيم را ملاقات كرد و آنها به
        يكديگر قول دادند در راستای پشرفت هاپكيدو درسراسر ايالات متحده جنوبي همكاري كنند. دهه هفتاد دكتر كيم استادبزرگ
        این هیوک سو موسس سبك كوك سول وان را ملاقات کرد. دكتر كيم واستاد سو با كمك هم موجب پيشرفت كوك سول وان در امريكا
        شدند. اين همكاري سال ها ادامه داشت. دكتر كيم به عنوان دبير انجمن جهاني كوك سول وان سمينارهاي فراواني در ايالات
        متحده و مكزيک برگزار نمود وي همچنين مدير نمايشات و رقابتهاي هنرهاي رزمي جهان در كره بود. دکتر کیم کتاب های
        آموزشی هان مو دو ، هاپکیدو ، تکواندو ، کوک سول را تاليف وچاپ نمود وی زندگی خود را وقف مطالعه و تمرین هنرهای رزمی
        کره ای کرد او به مطالعه یک یا دوسیستم اکتفا نکرد بلکه در تمام رشته ها تحقیق نمود. وی با تشویق استادان بزرگ جی و
        سو توانست سبک هان مو دو یا شیوه هنرهای رزمی کره ای را در سال 1989 تاسیس نماید. هان مو دو تلفيقي است علمي و
        هنرمندانه ازهنرهاي رزمي سنتي و مدرن که به معنای راه هنرهاي رزمي كره‌اي سيستم منحصربه فردي است كه مطالعه فنون با
        دست خالي، فنون با سلاح، نيروي كي و فلسفه هنرهای رزمی را شامل می شود. رئیس انجمن جهانی هان مو دو دکترهی یانگ کیم
        دارنده دان 10 هان مو دو ، دان 10 هاپکیدو ، دان 10 سازمان جهانی ( Ki Do) کره ، دان 9 جودو ، دان 9 تکواندو و دان 8
        کوک سول وان و درجه استادي در اكثرهنرهاي رزمي سنتی ومدرن كره‌اي - غربي - ژاپنی مانند هوارانگ دو، تانگ سودو ، بي
        سول و ... مي‌باشد که پس ازچهل سال تحصیل و تحقیق در اصول هنرهای رزمی کره ای هان مو دو را بنیان نهاد وی طی یک
        سلسله تحقیق و تمرین درهنرهای رزمی تکنیک و فلسفه های تمامی سبک ها را که اغلب مربوط به سال 1950 میلادی بودند را
        جمع آوری نمود و همواره با تکنیکهای جدید و بدیع با اصلاح و حذف زوائد و انتخاب بهترين و كارا ترين تكنيكها به صورت
        یک اصول متعادل و جامع درآورد .


    </p>


</div>
