@{
     ViewData["description"]="آموزش پیشرفته ترین فنون دفاع شخصی وقفل مفصل در شیراز";
    ViewData["Title"] = "فلسفه هان مو دو";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hanmudo_content">
    <div class="main_container">
        <div class="top_content">
            <span class="d-md-none menu_icon mt-2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </span>

        </div>
    </div>
    <button style="font-family: iraniansans;margin-right:.5rem ;" class="btn btn-dark "
        onclick="history.back()">بازگشت</button>
    <h1>
       فلسفه هان مو دو
    </h1>
    <p>يادگيري جنبه فلسفي هان مو دو براي دانش‌آموزان حائز اهميت مي‌باشد تقريبا حدود 10000 سال پيش اجداد كره‌اي در منطقه
        آسياي مركزي زندگي مي‌كردند شروع به مهاجرت به سمت مشرق جايي كه هوا گرمتر و خورشيد درخشان‌تر بود نمودند. آنها
        ازكوههاي آلتايي عبور كرده و در منطقه ای كه اكنون منچوريا و شبهه جزيره كره‌اي نام دارد سكني گزيدند. در آنجا آنها
        یک تمدن بر اساس فلسفه هان به وجود آوردند. اين فلسفه صرفا منشا كره‌اي داشته و قبل از ايجاد روابط با همسايگان فقط
        توسط مردم كره تكامل يافته بود. <br /><br />
        <b>فلسفه هان داراي چهار اصل منحصربه فرد مي باشد: </b> <br /><br />
        1- هان : به معناي بالا و پايين يعني رئيس يا مقام بالا مي‌باشد. در تاريخ حدود 2333 قبل از ميلاد مسيح اولين پادشاه
        كره هان بي كوم نام داشت كه وي بزرگترين رهبر مردم كره شناخته شده است كره‌اي‌ها رهبري و راهنمايي را از سه گروه كه
        داراي مقام‌هاي بالايي هستند استنباط نموده‌اند اولين گروه پادشاه يا رئيس ‌جمهور كه رهبري كشور را بعهده دارد ،
        دومين گروه پدر كه رئيس خانواده است و سومين گروه معلم كه مسئول مدرسه مي‌باشد. توازن و هماهنگي بين رئيس كشور و
        تابعين ، بين پدر و اعضاي خانواده ، معلم و دانش‌آموزان از اهميت بسزايي برخوردار است. رئيس يك كشور بايد موجب
        برقراري صلح و آرامش در برابر تجاوز بيگانه و همچنين با نيتي خيرخواهانه موجب برقراري قانون و عدالت در كشور باشد كه
        در نتيجه تابعين وي بايستي نسبت به او صادق بوده و طبق درخواست دولت ماليات خود را بپردازند. <br /><br />
        پدر بايد از خانواده‌اش حمايت نمايد و در قبال آن اعضاي خانواده به او احترام بگذارند. معلم بايد با علاقه تدريس
        نموده و از نظر رفتاري براي دانش‌آموزان الگو باشد در مقابل آن دانش‌آموزان موظف اند به او احترام گذاشته و بصورت
        جدي مطالعه نمايند. بدين ترتيب در كشور يك خانواده به صورت موزون و هماهنگ بوده و موجب آرامش و شادي مي‌گردد.
        <br /><br />
        2- هان : به معناي كل يا بزرگ مي‌باشد بزرگترين رودخانه جاري در ميان شهر سئول هان كونگ و عظيم ‌ترين كوه در كره
        جنوبي هان راسن نام دارد. مردم كره تاكيد زيادي به همكاري متقابل دارند. هر شخص به عنوان عضوي حياتي از جامعه به
        عنوان كل مي‌باشد داشتن يک زندگي متوازن در يک جامعه مسئله بسيار مهمي است زيرا اين امر موجب شادي تک تک افراد جامعه
        و همچنين كل كشور مي‌گردد. موقعيت فردي هر شخص بستگي به طرز تفكر و چگونگي عمل او دارد مطابق فلسفه هان اگر فردی به
        فكر منافع شخصی اش باشد عمل او تنها به خودش محدود خواهد شد و اگر شخص صرفا به فكر خانواده خود باشد نمي‌تواند بيش
        ازحد خانواده رشد كند اما چنانچه اين فرد به جامعه خود بينديشد ومنافع جامعه را در نظر بگيرد نتيجه قلمرو عمل او
        جامعه خواهد بود. اگر فرد به فكر كشورش باشد توسط مردم كشورش شناخته خواهد شد ، چنانچه طرز تفكر و عمل او در جهت
        منافع دنيا باشد مردم دنيا او را خواهند شناخت. بنابراين هدف انسان بايد در جهت منافع تمامي مردم دنيا باشد. (البته
        با توجه به اين نکته نبايد منافع شخصي فرد ناديده گرفته شود ، بلكه بايد بين منافع شخصي و منافع مردم دنيا يک نوع
        توازن و هماهنگي برقرار گردد.) به عنوان مثال خلبان هواپیما مسئول حفظ سلامتي مسافران و خدمه پرواز مي‌باشد.
        <br /><br />
        3- هان : به معناي روشني و خوش‌بيني است از نقطه نظر تاريخي الفباي كره‌اي هانگول (الفباي روشن) نام دارد و نام ملت
        كره هان كوك يعني ملت خوش‌بين مي‌باشد بنا برعقايد مردم كره زندگي داراي شادي و ناراحتي است كه به دنبال هم مانند
        طناب حلقوي در زندگي رخ مي‌دهد يك سرطناب کامیابی و سر ديگر آن ناکامی است. انسان خردمند بايد از وجود اين دو عنصر
        در زندگي مطلع باشد تا درهنگام برخورد با حقايق به جاي ديد منفي و پسروی بینشی مثبت و امیدوارانه داشته باشد.
        <br /><br />
        مردم كره بيش از صدها بار در تاريخ مورد تاخت و تاز قرار گرفتند اما اكنون كره يكي از سه ملت آسيايي مي‌باشد كه به
        عنوان كشوري مستقل شناخته شده است. از سال 1592 تا 1598 ژاپني‌ها با صدها هزار سرباز به كره حمله كردند و تمام
        روستاهاي سراسر كشور را ویران ساختند. بعد از پايان جنگ سان جو پادشاه كره مستر ساميانگ را جهت بازديد از كشور مامور
        كرد تا نحوه زندگي مردم را مشاهده نمايد. او از این روستا به روستاي ديگرعزیمت نمود اما هيچ مرد جواني را ندید تنها
        چيزي كه او مشاهده نمود زنان و كودكان گرسنه ای بودند كه در مجاورت كوهها به جستجوي غذا مي‌پرداختند مستر پيش خود
        انديشيد كه زمان به سرعت سپري شده و كودكان رشد كرده و ازدواج خواهند نمود سپس كشور پر از نسل جديد شده و كره پيشرفت
        خواهد كرد بنابراين عليرغم مشقت‌هايي كه مردم كره مي‌كشيدند مسترنسبت به آينده خوش‌بين بود. <br /><br />
        4- هان : به معناي يادگيري است. مردم كره در زمينه آموزش درمقام بالايي قرار دارند. آنها جهت يادگيري در زمینه های
        مختلف از جمله ادبيات و هنرهاي رزمي بسیار تلاش می کنند. از نظر تاريخي رئيس اغلب افراد تعليم‌ ديده هان ليم هاك سا
        نام داشت. دو جنگجو به نامهاي سان بي (جنگجوي باهوش) در زمان پادشاهي كوگوريو و ديگري هوارانگ (جنگجوي آراسته جوان)
        در زمان پادشاهي سيلا در زمينه هنرهاي رزمي و ادبيات كلاسيك بطور يكسان تعليم ديده بودند. در زمان جنگ اين دو نفر
        جهت دفاع از كشور به ميادين جنگ ‌رفتند و در زمان صلح به دولت خود خدمت مي‌كردند. تاكيد براي يادگيري بصورت يك سنت
        درآمده و حتي امروزه مورد اهميت مي‌باشد به علت تاكيد بر امر آموزش در سطوح بالا مردم كره توانستند به راحتي
        تكنولوژي پيشرفته را فرا بگيرند. اين مساله موجب شد كره يكي از 12 ملت اقتصادي در دنيا شناخته شود همچنين گفته شده
        است داشتن مهارت كافي درشمشيربازي بدون دخالت مغز (هوش) تنها براي خود شخص مناسب مي‌باشد نه براي شما. شخص عاقل از
        مهارت شما در شمشيربازي براي رسيدن به اهداف خود استفاده مي‌كند و شمشيرشما را درون زباله ‌دان خواهد انداخت اگر شما
        از نظرمهارت شمشيربازي با او يكسان هستيد بايستي زمان يكساني را جهت تعليم و آموزش خود صرف كنيد بدين ترتيب شما از
        شمشير خود به درستي استفاده خواهيد نمود كه درمورد توازن بين شمشيربازي و نويسندگي نيز تاكيد زيادي شده است
    </p>
</div>
