@{
   ViewData["description"]="آموزش پیشرفته ترین فنون دفاع شخصی وقفل مفصل در شیراز";
  ViewData["Title"] = "روان شناسی هان مو دو";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hanmudo_content">
  <div class="main_container">
    <div class="top_content">
      <span class="d-md-none menu_icon mt-2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </span>

    </div>
  </div>
  <button style="font-family: iraniansans;margin-right:.5rem" class="btn btn-dark "
    onclick="history.back()">بازگشت</button>
  <h1>
    روانشناسي هان مو دو
  </h1>

  <p>آموزش‌هاي هان مو دو به سوي انضباط نفس - انضباط نفس به سمت اعتماد به نفس - اعتماد به نفس به سمت خودداري و خودداري
    نيز منجر به موفقيت و پيروزي مي‌شود. <br /><br />
    تكرار اعمال موجب ايجاد عادت ناشناخته‌اي از مكانيسم‌هاي دفاعي مي‌شود كه همان انضباط نفس نام دارد. زماني كه عادت به
    انضباط نفس نموديد اين امربه دنبال خود موجب عادت به اعتماد به نفس خواهد شد و هنگامي كه عادت كرديد بگوييد من مي‌دانم
    مغز شما خواهد گفت من قادر به انجام آن خواهم بود. اكنون افكار شما روي كل بدن تسلط داشته و شما به مرحله خودداري
    میرسید. در اين زمان بخشنده شده و مي‌توانيد خود و ديگران را بهتراز گذشته درک كنيد. <br /><br />
    به عنوان مثال زماني كه حريف بطوراتفاقي به شما لگد بزند او را خواهيد بخشيد ، وقتي شما به مرحله خودداري برسيد
    مي‌توانيد هدف خود را در زندگي مشخص نمایید و براي رسيدن به آن گام برداريد
    همانگونه كه متوجه شديد انضباط نفسي را كه دراثر تكرار تكنيک‌ها فرا مي‌گيريد منجر به اعتماد به نفس و اعتماد به نفس
    منجر به خود داري و خودداري منجربه موفقيت و پيروزي خواهد شد.
  </p>
</div>
