@model hanmudo.Models.Event

@{
    ViewData["Title"] = "AddOrEditEvent";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<hr />
<div class="row">
    <div class="col-11">


        <form class="me-5 form_Event" enctype="multipart/form-data" method="post" asp-action="AddOrEditEvent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" hidden />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">عنوان</label>
                <input asp-for="Title" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="ShortText" class="control-label">متن کوتاه</label>
                <textarea asp-for="ShortText" class="form-control" cols="30" rows="4"  required></textarea>

            </div>
            <div class="form-group">
                <label asp-for="LongText" class="control-label">متن بلند</label>
                <textarea asp-for="LongText" class="form-control" cols="30" rows="10"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label">ویدیو</label>
                <input asp-for="Video" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="img1" class="control-label">عکس1</label>
                <input asp-for="img1" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="img2" class="control-label">عکس2</label>
                <input asp-for="img2" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="alt1" class="control-label">alt عکس1</label>
                <input asp-for="alt1" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="alt2" class="control-label">alt عکس2</label>
                <input asp-for="alt2" class="form-control" required/>
            </div>
            <div class="form-group">
                <label asp-for="Link1" class="control-label">لینک1</label>
                <input asp-for="Link1" class="form-control" />
            </div>
               <div class="form-group">
                <label asp-for="NameLink1" class="control-label"> متن لینک1</label>
                <input asp-for="NameLink1" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Link2" class="control-label"> لینک2</label>
                <input asp-for="Link2" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NameLink2" class="control-label"> متن لینک2</label>
                <input asp-for="NameLink2" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label">تاریخ(میلادی)</label>
                <input asp-for="DateTime" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Sequence" class="control-label">ترتیب</label>
                <input asp-for="Sequence" class="form-control" required/>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MainPage" />صفحه اصلی
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div class="m-4">
    <a asp-action="Events">بازگشت</a>
</div>
