
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="main_container">
    <div class="top_content">
        <span class="d-md-none menu_icon mt-2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </span>
        <a href="/User/Index" id="" class="user_Logout_link btn  btn-outline-warning  mt-2 ms-2 shadow">صفحه اصلی
            پنل</a>
    </div>
</div>