
@{
     ViewData["description"]="آموزش پیشرفته ترین فنون دفاع شخصی وقفل مفصل در شیراز";
    ViewData["Title"] = " دفاع شخصی وقفل مفصل در شیراز";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_container">
    <div class="top_content">
        <span class="d-md-none menu_icon mt-2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </span>
        <h1 style="display:inline-block;float:left"><a style="font-family: iraniansans;margin: 8px auto auto 8px;float: left;" href="/DefaShakhsi/Amoozesh_Defashakhsi_Ghoflemafsal" class="btn btn-primary">آموزش دفاع شخصی و قفل مفصل</a></h1>

    </div>
</div><br><br class="d-none d-md-block">
<h3 style="font-size: 1.1rem;font-family: shabnam;font-weight: bold;" class="text-center">دفاع شخصی و قفل مفصل</h3>
<p style="font-size: 1.15rem;font-family: bkoodak;line-height: 1.6rem;margin: 2rem;text-align: justify;">
  محتوای این بخش به زودی تکمیل میگردد.

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</p>

