@{
    ViewData["description"] = "آموزش پیشرفته ترین فنون دفاع شخصی وقفل مفصل در شیراز";
    ViewData["Title"] = "HanmudoFars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_container">
    <div class="top_content">
        <span class="d-md-none menu_icon mt-2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </span>

    </div>
</div>
<a href="/Home/photogalery" style="position: absolute;top: 2rem;" class=" btn_english ">photo galery</a>
<a href="/Home/videoarchive" style="position: absolute;top: 4.4rem;" class=" btn_english ">video archive</a>
<div style="text-align: center;width: 100%">
    <img id="Logo_shafaf" src="/img/Logo_shafaf.jpeg" alt="">
</div>
<p id="english_text">
    HANMUDO is a principle of a comprehensive martial art including fighting techniques with bare hands,
    weapons techniques, ki power and study of martial arts philosophy. <br><br>

    Doctor He Young Kimm after forty years of research about martial arts , techniques and philosophies of other styles
    which mostly refer to 1950s , in 1989 founded HANMUDO along with new techniques as a balanced and complete
    principles. <br><br>
    For the first time in 2011 HANMUDO was entered to Fars province (Shiraz/Fars /Iran country) by master Amin
    Alavitabar. Now, this unique martial art is active in two sections for ladies and gentlemen in this vast province.
</p>
<div class="footer">
    <div dir="ltr" style="text-align:left;margin-left: 0;font-size: 18px;text-align:center">

        <span style="position: relative;bottom: .5rem;margin-right:0">
            <a href="/Home/ContactUs">Contact Us</a>
        </span>
        <span >
            <a href=""> <img src="/img/blog_ICO.png" alt=""></a>
            <a href=""><img src="/img/aparat_ICO.png" alt=""></a>
            <a href=""><img src="/img/telegram_ICO.png" alt=""></a>
            <a href=""><img src="/img/youtube_ICO.png" alt=""></a>
            <a href=""><img src="/img/instagram_ICO.png" alt=""></a>
        </span>

    </div>
    <div style="">
        <p class="text-center">HANMUDO FARS</p>
        <p class="text-center"> .Alavitabar, All Rights Reserved </p>
    </div>

</div>
<style>
    .top_content {
        height: 0rem !important;
    }

    .panel {
        position: relative
    }

    #footer {
        display: none;
    }
    .footer p{
        margin-top: 8px;
    }
</style>
