
@{
   ViewData["description"]="آموزش پیشرفته ترین فنون دفاع شخصی وقفل مفصل در شیراز";
    ViewData["Title"] = "اعضا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


      <div class="main_container">
        <div class="top_content">
          <span class="d-md-none menu_icon mt-2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
            <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
          </span>
        
        </div>
      </div>
      <div  style="text-align:center;width: 100%;">
        <a href="/DefaShakhsi/Amoozesh_Defashakhsi_Ghoflemafsal"  class="texteffect">
          <marquee behavior="scroll" direction="right" id="texteffect_span">
                           آموزش دفاع شخصی ، قفل مفصل و مبارزات
            </marquee>
        </a>
      </div>
   
     

      <div class="representer">
        <img src="/img/RezaAlavitabar.jpg" alt="">
        <div>
          <span>جناب آقای رضا علوی تبار </span>
          <span>نماینده محترم هان مو دو شهرستان شیراز</span>
          <span >شماره تماس : <bdi style="font-family: bkoodak;">09393385671</bdi></span>
          </div>
      </div>
      <div style="width: 95%;margin:auto">
        <div class="member_list">
          <div class="members">
            <img src="/img/MahmudRahimi.jpg" alt=" محمود رحیمی">
            <span>  جناب آقای محمود رحیمی</span>
          </div> 
          <div class="members">
            <img src="/img/saeedAzizi.jpg" alt=" سعید عزیزی">
            <span> جناب آقای سعید عزیزی </span>
          </div> 
          <div class="members">
            <img src="/img/AmirMehr1.jpg" alt="امیر مهر ">
            <span> جناب آقای امیر مهر</span>
          </div> 
          <div class="members">
            <img src="/img/MohommadDusti.jpg" alt="محمد دوستی ">
            <span> جناب آقای محمد دوستی</span>
          </div> 
          <div class="members">
            <img src="/img/MohammadHosseinMoradi.jpg" alt="محمد حسین مرادی ">
            <span>  جناب آقای محمد حسین مرادی</span>
          </div> 
        </div>
      </div>
       <div class="representer mt-5">
        <img src="/img/maryamAlavitabar.jpg" alt="مریم علوی تبار ">
        <div>
          <span>سرکار خانم مریم علوی تبار </span>
          <span>نماینده محترم هان مو دو شهرستان شیراز</span>
          <span >شماره تماس : <bdi style="font-family: bkoodak;">۰۹۳۳۸۵۴۸۸۳۹</bdi></span>
          </div>
      </div>
      <div style="width: 95%;margin:auto">
        <div class="member_list">
          <div class="members">
            <img src="/img/FarahnazTayebi.jpg" alt=" فرحناز طیبی">
            <span>  سرکار خانم فرحناز طیبی</span>
          </div> 
          <div class="members">
            <img src="/img/HamideDelavaran.jpg" alt="حمیده دلاوران">
            <span> سرکار خانم حمیده دلاوران </span>
          </div> 
          <div class="members">
            <img src="/img/FatemeDelevaran.jpg" alt="فاطمه دلاوران">
            <span> سرکار خانم فاطمه دلاوران</span>
          </div> 
         
        </div>
      </div>
      

